.field:not(:last-child) {
    margin-bottom: 1rem !important;
}

.field {
    ion-label {
        padding-left: 0.2rem;
        padding-right: 0.5rem;
        color: #d3a6c7;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        p {
            color: rgb(236, 149, 35);
            font-size: 0.9rem;
        }
    }
}

.customInput {
    --background: #f1f2f2;
    --padding-bottom: 1rem;
    --padding-top: 1rem;
    --padding-start: 2rem;
    --padding-end: 1rem;
    --color: black;
    border-radius: 30px;
    margin-top: 0.25rem;
    transition: all 0.2s linear;
}