.bankPage {
    background: white;

    ion-header {
        h4 {
            color: black;
        }

        ion-toolbar {
            --padding-start: 1rem;
            --padding-end: 1rem;

            ion-button {
                font-size: 20px;
            }
        }
    }

    ion-content {

        ion-label {
            color: black;
            display: block;
            // margin-bottom: 20px;
        }

        p {
            color: black;
        }

        .tipComment {
            font-size: 14px;
            color: rgb(117, 117, 117);
        }
    }

    ion-footer {
        --background: transparent;

        .footerLine {
            width: 40%;
            border: 3px solid white;
            border-radius: 10px;
        }
    }
}